h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
#design{
    display: none;
}
#dev{
    display: none;
}
#product{
    display: none;
}
body{
    font-family: 'Domine', serif;
    font-size: x-large;
}
.Copyright{
    text-align: center;
}
p{
    text-align: center;
}
.contact{
    background-image: url(../images/c_image.jpg);
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.services{
    background-image: url(../images/s_image.jpg);
    height: 450px;
    color: whitesmoke;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
     
}
.welcome{
    background-image: url(../images/h_img.jpg);
    height: 850px;
    color: whitesmoke;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.row{
    padding: 50px;
}






