h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: whitesmoke;
    text-align: center;
}
h5{
    text-align: center;
}
h6{
    text-align: center;
}


#design{
    display: none;
}
#dev{
    display: none;
}
#product{
    display: none;
}
body{
    font-family: 'Domine', serif;
    font-size: x-large;
}
.Copyright{
    text-align: center;
}
p{
    text-align: center;
}
.contact{
    background-image: url(/images/assets/backgrounds/c_image.jpg);
    
}
.services{
    background-image: url(/images/assets/backgrounds/s_image.jpg);
    height: 400px;
    color: whitesmoke;
    
    
}







